# ============================================
# 🔹 GENERAL
# ============================================
*.log
*.tmp
*.swp
*.swo
*.class
*.pyc
.DS_Store
Thumbs.db

# ============================================
# 🔹 SYSTEM / EDITOR
# ============================================
.idea/
.vscode/
*.iml
*.ipr
*.iws
.history/
.atom/
.svn/
.swiftpm/
migrate_working_dir/

# ============================================
# 🔹 FLUTTER & DART
# ============================================
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# ============================================
# 🔹 ENVIRONMENT VARIABLES & SECRETS
# ============================================
.env
*.env
android/key.properties
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
firebase_options.dart
upload-keystore-wali.jks

# Signing keys
*.jks
*.keystore
key.properties


# ============================================
# 🔹 PLATFORM-SPECIFIC BUILD OUTPUTS
# ============================================
# Android
/android/app/debug
/android/app/profile
/android/app/release
**/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# macOS
macos/Flutter/ephemeral/

# Windows
windows/Flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Web
build/web/

# ============================================
# 🔹 SYMBOLICATION & OBFUSCATION
# ============================================
app.*.symbols
app.*.map.json

# ============================================
# 🔹 MISC
# ============================================
# Output of build_runner or code generation
**/generated_plugin_registrant.dart
*.lock